hr {
    margin-top: 0;
}

.table {
    margin: 0;
}

.message {
    max-width: 150px;
}

#f2 {
    text-align: center;
    padding-bottom: 20px;
}

#f2 .message {
    /* color: forestgreen; */
    padding: 10px;
}

#f2 .board {
    /* color: forestgreen; */
    padding: 10px;
}
#f2 .send {
    /* color: forestgreen; */
    padding: 11px 30px;
}