{% extends 'base.html' %}

{% block head %}
<title>Messages</title>
{% endblock%}

{% block body %}
<h1>All Messages</h1>
<form action="/" method="GET">
    <select name = "filter" id="filter">
        <option value="{{ filter }}">{{ filter }}</option>
        {% if filter != 'All' %}
        <option value="All">All</option>
        {% endif %}
        {% for board in boards %}
        <option value='{{ board }}'>{{ board }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>

<table>
    <th>Message</th>
    <th>Board</th>
    <th>Date</th>
    <th>Time</th>
    <th>Options</th>

    {% for message in messages %}
    {% if message.board == filter or filter == 'All' %}
    <tr>
        {% if id == message.id %}
        <td>
            <input type="text" value="{{ message.message }}" name="message" form="update_form">
        </td>
        {% else %}
        <td>{{ message.message }}</td>
        {% endif %}
        {% if id == message.id %}
        <td>
            <!-- <form action="/message/update/{{message.id}}" method="POST" name="update_form">
                <input type="text" value="{{ message.board }}" name="board">
            </form> -->
            <input type="text" value="{{ message.board }}" name="board" form="update_form">
        </td>
        {% else %}
        <td>{{ message.board }}</td>
        {% endif %}
        <td>{{ message.date_created.date() }}</td>
        <td>{{ message.date_created.time().strftime('%H:%M') }}</td>
        <td>
            {% if id == message.id %}
            <form action="/message/update/{{message.id}}" method="POST" id="update_form">
                <input type="submit" value="Update">
            </form>
            {% else %}
            <a href="/update/{{message.id}}">Update</a>
            <br>
            <a href="/message/delete/{{message.id}}">Delete</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<form action="/" method="POST">
    <input type="text" placeholder="Message" name="message" id="message">
    <input type="text" placeholder="Message-Board" name="board" value="{{ filter }}">
    <input type="submit" value="Send">
</form>
{% endblock%}