{% extends 'base.html' %}

{% block head %}
<title>{{ filter }} - Messages</title>
{% endblock%}

{% block body %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <a href=" {{ url_for('index') }}" class="navbar-brand">Flask Message Board</a>
            <ul class="nav navbar-nav">
                <!-- <li class="navbar-brand">
                    item would go here
                </li> -->
            </ul>
    </div>

</nav>

<form action="/" method="GET">
    <select name = "filter" id="filter" class="btn btn-secondary">
        <option value="{{ filter }}">{{ filter }}</option>
        {% if filter != 'All' %}
        <option value="All">All</option>
        {% endif %}
        {% for board in boards %}
        <option value='{{ board }}'>{{ board }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter" class="btn btn-secondary">
</form>

<table class="table table-striped table-condensed">
    <tr>
        <th class="bg-primary">Message</th>
        <th class="bg-primary">Board</th>
        <th class="bg-primary">Date</th>
        <th class="bg-primary">Time</th>
        <th class="bg-primary">Options</th>
    </tr>

    {% for message in messages %}
    {% if message.board == filter or filter == 'All' %}
    <tr>
        
        {% if id == message.id %}
        <td class="bg-info message">
            <input type="text" value="{{ message.message }}" name="message" form="update_form">
        </td>
        {% else %}
        <td class="message">{{ message.message }}</td>
        {% endif %}

        {% if id == message.id %}
        <td class="bg-info">
            <input type="text" value="{{ message.board }}" name="board" form="update_form">
        </td>
        {% else %}
        <td>{{ message.board }}</td>
        {% endif %}

        {% if id == message.id %}
        <td class="bg-info">{{ message.date_created.date() }}</td>
        {% else %}
        <td>{{ message.date_created.date() }}</td>
        {% endif %}

        {% if id == message.id %}
        <td class="bg-info">{{ message.date_created.time().strftime('%H:%M') }}</td>
        {% else %}
        <td>{{ message.date_created.time().strftime('%H:%M') }}</td>
        {% endif %}

        {% if id == message.id %}
        <td class="bg-info">
            <form action="/message/update/{{message.id}}/filter/{{ filter }}" method="POST" id="update_form">
                <input type="submit" value="Update">
            </form>
        </td>
        {% else %}
        <td>
            <a href="/update/{{message.id}}/filter/{{ filter }}">Update</a>
            <br>
            <a href="/message/delete/{{message.id}}/filter/{{ filter }}">Delete</a>
        </td>
        {% endif %}

    </tr>
    {% endif %}
    {% endfor %}
</table>
<hr>

<form action="/" method="POST" id="f2">
    <input type="text" placeholder="Message" name="message" id="message" class="bg-secondary message">
    <input type="text" placeholder="Message-Board" name="board" value="{{ filter }}" class="bg-secondary board text-info">
    <input type="submit" value="Send" class="btn btn-primary send">
</form>
{% endblock%}